*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Plus Jakarta Sans';
}
.content{
    padding: 0 50px;
}
.purple{
    background-color: #3C3679;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 0;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
}
.section-one{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 1fr;
    padding-top: 20px;
}
.home{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.contact1{
    justify-self: end;
    display: none;
}
.contact{
    justify-self: end;
}
.contact:hover{
    transform: translateX(-50px);
}
.section-two{
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    padding-top: 69px;
}
.launch{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    cursor: all-scroll;
}
.launch:hover{
    border: 1px dashed #3C3679;
    transform: skewY(8deg);
    transform: translateY(-40px);
}
.demo{
    display: flex;
    gap: 30px;
}
#greater{
    border: 0.1px solid #3C3679; color: #3C3679;padding: 5px; margin-top: 26px; width: 20px; height: 20px;
}
#book{
    font-size: 16px; font-weight: 700; line-height: 80px; color: #131126;
}
.ratings{
    display: flex;
    gap: 30px;
}
.woman-images{
    position: relative;
    width: 540px;
    height: 590px;
    border-radius: 5px;
    background: #FAE0E1;
    justify-self: end;
}
#woman{
    position: absolute;
    right: 74px;
    bottom: 3px;
}
#visit{
    position: absolute;
    right: 289px;
    top: 59px;
    mix-blend-mode: darken;
}
#linear-blue{
    position: absolute;
    right: -22px;
    top: 32px;
}
#star{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -30px;
    top: 39px;
}
.section-three{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    border: 1px solid #D0D0D0;
    padding: 20px 25px;
    justify-content: space-around; margin: 53px 0;
}
.businesses{
    display: flex;
    justify-content: space-around;
}
.trusted{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 14px;
}

.section-four{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    justify-content: space-between;
}
.man-images{
    position: relative;
    border-radius: 5px;
}
.new{
    position: absolute;
    top: 210px;
    right: 21px;
}
.star{
    position: absolute;
    top: -16px;
    left: 23px;
}
.linear{
    position: absolute;
    right: 190px;
    top: 122px;
}
.section-five{
    background-color: #3C3679;
    display: flex;
   gap: 90px;
    padding: 48px 78px;
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    border-radius: 7px;
    margin: 80px 0;
}
.s5{
    display: flex;
    gap: 15px;
}

#supervision{
    display: flex;
     flex-direction: column;
    gap: 32px;
    margin-top: 40px;
}
.let{
    font-size: 36px; font-weight: 700; line-height: 46px; color: #201C44;
}
.launch-two{
    font-size: 16px; font-weight: 400; line-height: 26px; color: #201C44;
}
.button-mark{
    display: flex;
    gap: 20px;
}
.mark-text{
    color: #201C44;;
    font-size: 16px;
    line-height: 42px;
}
.section-six{
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    gap: 220px;
}
.woman-two-images{
    position: relative;
}
#flame{
    position: absolute;
    top: 67px;
    right: 149px;
}
#linear{
    position: absolute;
    left: -87px;
    top: 170px;
}
#bts{
    position: absolute;
    left: 135px;
    top: 190px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-content{
    display: flex;
    gap: 20px;
    width: 399px; height: 52px;
    border: 1px solid #D0D0D0;
    padding-left: 13px;
}
.detail{
    color: #131126;
    font-size: 14px;
    line-height: 50px;
}
.smallFlame{
    display: none;
}
.updates{
    text-align: center;
    margin: 130px 0 60px 0 ;
}
.update-one{
    color: #201C44; font-size: 38px; font-weight: 700; line-height: 46px;
}
.update-two{
    color: #131126;
    font-size: 16px; line-height: 28px;
}

.section-seven{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.type1{
    font-size: 12px;
    color: #131126;
}
.type2{
    font-size: 20px; font-weight: 700; line-height: 32px; color: #201C44;
}

#signs{
    display: none;
}
.growth,.career,.design{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.FAQ1,.FAQ2{
    display: flex;
    justify-content: space-between;
    border: 1px solid #131126;
    padding: 17px 56px;
    border-radius: 9px;
    font-size: 14px;
    
}

.FAQ1{
    background-color: #3C3679;
    color: #ffffff;
}
.FAQ2{
    color: #131126;font-weight: 700;
}
.section-eight{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.FAQ-text{
    padding: 10px 45px;
    color: #131126;
    font-size: 16px;
    line-height: 20px;
}
.conBook{
    display: flex;
    padding: 10px 0 0 35%;
    margin-bottom: 30px;
}
.footer{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    border-bottom: 1px solid #131126; margin: 30px 40px;
    padding-bottom: 20px;
}
.mediaText{
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 54px;
    color: #131126;
}
.home-two{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.section-ten{
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content: space-between;
    margin: 50px 0;
    background-color: #f6f6f9;
}
.client{
    position: absolute;
    top: 269px;
    right: -6px;
}
.starr{
    position: absolute;
    top: 20px;
    left: 5px;
}

@media only screen and (max-width: 428px) {
    .home{
        display: none;
    }
   
    .purple{
        border-radius: 8px;
    }
    .section-one{
        display: flex;
        justify-content: space-between;
    }
    .section-two{
        display: flex;
        flex-direction: column;
    }
    .demo{
        gap: 10px;
    }
    #book{
        font-size: 10px;
    }
    #visit, #star{
        display: none;
    }
    .woman-images{
        width: 300px;
        height: 350px;
        margin: 40px 0 0 20px;
    }
    #woman{
        width: 349px;
        height: 359px;
        right: 43px;
        bottom: 1px;
    }
    #linear-blue{
        height: 65px;
        right: -32px;
        top: 26px;
    }
    .section-three{
        display: flex;
        flex-direction: column;
        border: 1px solid #D0D0D0;
        padding: 20px 10px;
        justify-content: space-around;
        gap: 20px;
    }
    .marvel,.notion,.shazam{
        display: none;
    }
    .section-five{
        flex-direction: column;
        gap: 20px;
        padding: 40px 30px;
        font-size: 14px;
    }
    .section-four,.section-six{
        display: flex;
        flex-direction: column;
    }
    .man-images{
        position: relative;
        border-radius: 5px;
    }
    .man{
        width: 273px;
        height: 376px
    }
    .new{
        width: 400.5px;
        height: 346.5px;
        top: 170px;
        right: 67px;
    }
    .star{
        width: 53px;
        height: 50.4px;
        left: 230px;
    }
    .linear{
        width: 82.3px;
        height: 50.5px;
        left: -44px;
        top: 114px;
    }
    .button-mark{
        width: max-content;
        gap: 12px;
    }
    .input{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .input-content{
        display: flex;
        gap: 20px;
        width: 302px; height: 52px;
        border: 1px solid #D0D0D0;
        padding-left: 13px;
        
    }
    #woman-two{
        width: 300px;
        height: 376px;
        border-radius: 3px;
    }
    #flame{
        top: 12px;
        right: 24px;
        width: 43px;
        height: 55px;
    }
    #linear{
        left: -28px;
        top: 68px;
        width: 82px;
        height: 50px
    }
    #bts{
        width: 280.45px;
        height: 311.85px;
        top: 127px;
        left: -123px
    }
    .smallFlame{
        display: flex;
        margin: 50px 0 -70px 0 ;
        padding-left: 46%;
    }
    .design, .career{
        display: none;
    }
    #growth{
        width: 283px;
        height: 269px;
        border-radius: 5px;
    }
    #signs{
        display: flex;
        height: 40px;
        width: 90px;
        margin-left: 80px;
    }
    #sign{
        display: none;  
    }
    .conBook{
        margin-left: -140px;
    }
    .section-ten{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 19px;
    }
    .mediaText{
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

}
    